/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: Lexend;
    font-weight: 400;
}

*::-webkit-scrollbar {
    display: none;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
    --text-color: #151515;
    --primary-color: #e7e7e7;
    --secondary-color: rgba(249, 249, 249, 0.5);
    --accent: #94bbff;
    --accent-light: rgba(138, 180, 248, 0.08);
}

html {
    height: 100%;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background: var(--primary-color);
    color: var(--text-color);
    overflow-wrap: break-word;
    height: 100%;
    margin: 0;
}

body.menu-open::after {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1500;
    pointer-events: all;
}

body::after {
    pointer-events: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}
